
.home{
    background-image: url("../../images/homebackground.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height: 100%;
    width:100%;
}