.formField {
    margin: 1rem auto;
    padding: 1rem;
  width: 30rem;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /* color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
   position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center; */

}

.captionInput{
    margin: 1rem auto;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    resize: none;
}

.uploadPage {
  margin: 2rem auto;
  text-align: center;
  /* background-image: url("../../images/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  filter: blur(2px);
  -webkit-filter: blur(2px); */
  background: url("../../images/backgroundimage.jpg") no-repeat center center fixed;
  filter: blur(.50px);
-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;
width: 100%;
height: 100vh;


}
input[type=file]::file-selector-button{

  background-color: #a57a61 ;
  color:white;
}
.button{
  background-color: #a57a61 ;
  color:white;
}