.statusbar_container{
    height: 7.5rem;
    width: 54rem;
    border: 0.2rem solid white;
    border-radius: 0.6rem;
    margin-top: 1.6rem;
    display: flex;
    overflow-x: scroll;
}
.statusbar_container::-webkit-scrollbar {
    display: none;    
}

.statusbar_status{
    min-width: 3.5rem;
    min-height: 3.5rem;
    border: 0.05rem dotted white;
}

.status{
    margin: 1.6rem 0.8rem;
    color: black;
    padding-left: 0.02rem;
}

.statusbar_text{
    margin-top: 0.3rem;
    font-size: 0.8rem;
    max-width: 3rem;
    overflow-x: hidden;
    text-align: center;
}

.statusbar_upload{
    margin: 1.5rem 1.25rem 1.9rem 1.9rem;
}

